@import "tailwindcss";

@theme {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --color-blue-50: #f0fdf4;
  --color-blue-100: #dcfce7;
  --color-blue-200: #bbf7d0;
  --color-blue-300: #86efac;
  --color-blue-400: #4ade80;
  --color-blue-500: #22c55e;
  --color-blue-600: #008000;
  --color-blue-700: #15803d;
  --color-blue-800: #166534;
  --color-blue-900: #14532d;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}